#root {
    min-width: 1252px;
}

body {
    background-color: papayawhip;
}

a {
    text-decoration: none;
}

#itemTotal {
    margin-right: 15px;
}

#cartItemName {
    margin-top: -60px
}

#detailItemName {
    margin-top: -75px;
    margin-left: 15px;
}

#detailInfo {
    font-size: 20px;
    margin: 15px;
}

#cartTotal {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.cartItemCounter {
    display: flex;
    align-items: center;
}

.btnCartItem {
    border: 2px solid black;
    font-size: 20px;
    height: 1.5rem;
    width: 1.5rem;
    margin: 15px;
    cursor: pointer;
}

.btnDetailItem {
    border: 2px solid black;
    font-size: 20px;
    height: 1.5rem;
    width: 1.5rem;
    margin: 15px;
    cursor: pointer;
}

.btnCartSub {
    background-color: rgb(243, 138, 138);
}

.btnDetailSub {
    background-color: rgb(243, 138, 138);
}

.btnCartAdd {
    background-color: rgb(0, 255, 55);
}

.btnDetailAdd {
    background-color: rgb(0, 255, 55);
}

.cartItemTotal {
    display: flex;
    justify-content: space-between;
}

.cartTitle {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.contactUs {
    margin-top: 150px;
    font-size: 35px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.nav-links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

.slideImage {
    width: 400px;
    height: 550px;
}

.slideshowSlider {
    display: flex;
    justify-content: center;
}

#search {
    font-size: 25px;
    width: 700px;
    border: 2px solid black;
}

.btnSearch {
    font-size: 30px;
    cursor: pointer;
    margin-left: 5px;
}

.shopSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.cartButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.cartButtons:active {
    background-color: rgb(85, 84, 84);
}

.cartButtonsDiv {
    display: flex; 
    justify-Content: center;
}

.btnCart {
    float: right;
    cursor: pointer;
    font-size: 30px;
}

.cartCount span {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 20px;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 10px;
    width: 10px;
    text-align: center;
    display: flex;
}

.btnShop {
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btnCenter {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.product {
    display: inline-block;
    margin: 100px;
    vertical-align: top;
}

.product img {
    height: 550px;
    width: 400px;
}

.product-description {
    text-align: center;
    inline-size: 400px;
    font-size: 25px;
}

.btnAddCart {
    display: flex;
    justify-content: center;
}

.btnDetailBack {
    display: flex;
    justify-content: center;
}

.btnDetailBack button {
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.btnAddCart button{
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.btnAddCart button:active {
    background-color: rgb(85, 84, 84);
}

.btnCartDelete {
    display: flex;
    color: red;
    font-size: 35px;
    cursor: pointer;
    margin-left: 330px;
}

.btnDetailDelete {
    display: flex;
    color: red;
    font-size: 35px;
    cursor: pointer;
    margin-left: 600px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detailItem {
    width: 100% - 60px;
    height: 600px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }

  .detailItem img {
    height: 550px;
    width: 400px;
    margin: 15px;
    border-radius: 5%;
  }

  .detailItemCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
  }

  .btnDetailCart {
    display: flex;
    align-items: center;
  }
  
  .cartItem {
    width: 700px;
    height: 260px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    height: 242px;
    width: 176px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5%;
  }
  
 .cartDescription {
    width: 100%;
    font-size: 30px;
    margin-top: 70px;
  }

  .CartItems {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  