body {
    background-color: papayawhip;
}

.contactUs {
    margin-top: 150px;
    font-size: 35px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.nav-links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slideImage {
    width: 400px;
    height: 550px;
}

.slideshowSlider {
    display: flex;
    justify-content: center;
}

#search {
    font-size: 25px;
    width: 700px;
    border: 2px solid black;
}

.btnSearch {
    font-size: 30px;
    cursor: pointer;
    margin-left: 5px;
}

.shopSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.btnCart {
    float: right;
    cursor: pointer;
    font-size: 30px;
}

.btnShop {
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btnCenter {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.product {
    display: inline-block;
    margin: 100px;
    vertical-align: top;
}

.product img {
    height: 550px;
    width: 400px;
}

.product-description {
    text-align: center;
    inline-size: 400px;
    font-size: 25px;
}

.btnAddCart {
    display: flex;
    justify-content: center;
}

.btnAddCart button{
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.btnAddCart button:active {
    background-color: rgb(85, 84, 84);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
}